<!DOCTYPE html>
<html>
  <head>
    <title>Job Search</title>
    <style>
      section{ 
        display : grid;
        grid-template-columns : repeat(4,1fr);  
        gap : 20px; 
      }
    </style>
  </head>
  <body>
    <h1>Search Results</h1>
    <h3>Found {{resultNum}} results for {{search}}</h3>
    <a href="/export?word={{search}}">Export to CSV</a>

    <section>
      <h4>Title</h4>
      <h4>Company</h4>
      <h4>Location</h4>
      <h4>Link</h4>

      <!--flask understands for-in in html-->
      {% for each_job in job %}
        <span>{{each_job.title}}</span>
        <span>{{each_job.company}}</span>
        <span>{{each_job.location}}</span>
        <a href= "{{job.applied_link}}" target="_blank">Apply</a>
      {%endfor%}
       
    <section>  
  </body>
</html>
