<!DOCTYPE html>
<html>
  <head>
    <title>Job Search</title>
    <style>
      section{  /*table처럼 보이게 하기 위해서*/
        display : grid;
        grid-template-columns : repeat(4,1fr);  
        /*repeat하는데 4 columns하고 1fr width를 준 것!*/
        gap : 20px; 
      }
    </style>
  </head>
  <body>
    <h1>Search Results</h1>
    <h3>Found {{resultNum}} results for {{search}}</h3>
    <a href="/export?word={{search}}">Export to CSV</a>
    <!--export링크를 보여줌! /export로 데려가서-->

    <section>
      <h4>Title</h4>
      <h4>Company</h4>
      <h4>Location</h4>
      <h4>Link</h4>

      <!--flask understands for-in in html-->
      {% for each_job in job %}
        <span>{{each_job.title}}</span>
        <span>{{each_job.company}}</span>
        <span>{{each_job.location}}</span>
        <a href= "{{job.applied_link}}" target="_blank">Apply</a>
      {%endfor%}
        <!--target에 링크를 일부로 안넣음. 너무 느려질까봐-->

      <!--이것들은 다 scrapper find_jobs()에서 온것들!!-->
    <section>  
  </body>
</html>